* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.container {
  align-items: center;
  background-image: linear-gradient(to right, #41B883 , #6ee4af);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.main {
  background-color: aliceblue;
  font-size: inherit;
  margin: 10px 10px;
  padding: 20px;
  width: 30vw;
}

.header {
  margin: 20px;
}

.header h1 {
  color: #34495E;
  text-align: center;
}

.section {
   margin: 20px;
}

.inputSection form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.inputSection form input[type="text"] {
  border: 2px solid lightgray;
  border-radius: 5px;
  color: #34495E;
  font-size: inherit;
  padding: 10px;
  width: 65%;
}

.inputSection form input:focus {
  border-color: rgb(170, 170, 170);
  outline: none;
}

.inputSection form button {
  background-image: linear-gradient(to right, #41B883 , #6ee4af);
  border: 2px solid #41B883;
  border-radius: 5px;
  border-style: solid;
  color:aliceblue;
  font-size: inherit;
  margin-left: 10px;
  padding: 10px 10px;
  width: 30%;
}

.listTodoSection ul {
  list-style-type: none;
  width: 100%;
}

.listTodoSection ul li {
  margin-top: 10px;
  width: 100%;
}

.listTodoSection ul li span {
  background-color: rgba(211, 211, 211, 0.253);
  border-color: rgba(211, 211, 211, 0.253);
  border-radius: 5px;
  color: #34495E;
  display: inline-block;
  padding: 10px 10px;
  width: 87%;
}

.listTodoSection ul li span:hover {
  background-color: rgba(170, 170, 170, 0.253);
}


.listTodoSection ul li input[type="text"] {
  border-color: lightgray;
  border-radius: 5px;
  border-style: solid;
  color: #34495E; 
  font-size: inherit;
  padding: 10px;
  width: 78%;
}

.listTodoSection ul li input:focus {
  border-color: rgb(170, 170, 170);
  outline: none;
}

.listTodoSection ul li .btn {
  border-radius: 5px;
  border-style: solid;
  color: white;
  font-size: inherit;
  margin-left: 5px;
  padding: 10px;
}

.listTodoSection ul li .delete-todo {
  background-image: linear-gradient(to right, tomato , rgba(255, 99, 71, 0.699));
  border-color: tomato;
  width: 8%;
}

.listTodoSection ul li .edit-todo {
  background-image: linear-gradient(to right, #41B883 , #6ee4af);
  border-color: #41B883;
  margin-left: 4px;
  width: 8%;
}

.listTodoSection ul li .cancel-edit-todo {
  background-image: linear-gradient(to right, tomato , rgba(255, 99, 71, 0.699));
  border-color: tomato;
  margin-left: 4px;
  width: 8%;
}
